In the context of 2019 U.S. politics, where does the following statement sit?

“{{ statement }}”

1 = liberal
2 = lean liberal
3 = neutral
4 = lean conservative
5 = conservative

Answer with the number only.
